$theme:(
    light:(
    textColor: #000,
    bg: white,
    logo: darkblue,
    textColorsoft: #555,
    border: lightgray,
    ),

    dark:(
    textColor: whitesmoke,
    bg: #222,
    logo: white,
    bgsoft: #333,
    textColorsoft: lightgray,
    border: #444,
    ),
);
