
.navbar{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 30px;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0;
    z-index: 999;

    .left{
        display: flex;
        align-items: center;
        gap: 30px;
        background-color: white;

        .appname{
            font-weight: bold;
            font-size: 20px;
            color: darkblue;
        }

        .search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            padding: 5px;
            height: 20px;

            .searchbar{
                border: none;
                width: 500px;
            }
        }
    }
    .right{
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: white;

        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;

            .image{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

    }
}