.questionnaire{
    height: 100%;
    background-color: rgb(241, 158, 241);
    align-items: center;

    .form{
        display: flex;
        flex-direction: column;
        border: 1x solid;
        border-radius: 10px;
        align-items: center;
        background-color: azure;
        width: fit-content;
    }
}